@import "tailwindcss";

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
